<!DOCTYPE html>
<html>
  <head>
    <title>Chuck Norris Facts</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <%= yield %>
      </div>

    <script>
      setTimeout("$('.error_msgs').fadeOut('slow')", 3000)

    </script>

  </html>



    

