<!DOCTYPE html>
<html>
  <head>
    <title>Chuck Norris Facts</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <%= yield %>
      </div>

    <div class="footer">
      <div class="container">
        <div class="row">

          <p class="text">Created by Thomasin Durgin using the <a href="https://api.chucknorris.io/" target="_blank">Chuck Norris API</a>.</p>
        </div>
      </div>
    </div>
  </body>
</html>

<script>
    setTimeout("$('.error_msgs').fadeOut('slow')", 5000)
</script>
